<div class="carousel slide" data-bs-ride="true" id="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="slide1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="slide2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="slide3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img/slide-5.jpg" alt="" class="d-block">
            <div class="carousel-caption d-none d-md-block">
                <h1>
                    Economia
                </h1>
                <p>
                    Calcule os custos de sua viagem.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/slide-6.jpg" alt="" class="d-block">
            <div class="carousel-caption d-none d-md-block">
                <h1>
                    Praticidade
                </h1>
                <p>
                    Basta adicionar as informações do preço do hotel e da viagem.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/pexels-pixabay-160483.jpg" alt="" class="d-block">
            <div class="carousel-caption d-none d-md-block">
                <h1>
                    Agilidade
                </h1>
                <p>
                    Obtenha os resultados instantâneamente!
                </p>
            </div>
        </div>
    </div>
</div>